{% extends "layout.html" %}
{% block content %}
<div class="dashboard-container">
    <div class="dashboard-header">
        <div>
            <h1>{{ lot.name }}</h1>
            <p class="lot-meta">{{ lot.address }}, {{ lot.pincode }}</p>
        </div>
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-outline">&laquo; Back to Dashboard</a>
    </div>

    <hr>

    <h2>Parking Spot Status</h2>
    <div class="spot-grid">
        {% for spot in lot.spots %}
        <div class="spot-card status-{{ spot.status }}">
            <span class="spot-number">Spot #{{ spot.spot_number }}</span>
            <span class="spot-status">
                {% if spot.status == 'A' %}
                    Available
                {% else %}
                    
                    {% for res in spot.reservations %}
                        {% if res.end_time is none %}
                            {% if spot.status == 'R' %}
                                Reserved by: <br><strong>{{ res.user.full_name }}</strong>
                            {% elif spot.status == 'O' %}
                                Occupied by: <br><strong>{{ res.user.full_name }}</strong>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}